@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&family=Inter:wght@400;500;600;700&family=Nunito:wght@300;400;500;600;700;800&display=swap");
.header {
  width: 620px;
  background-color: #f9fafd;
  height: 68px;

  &_input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 29px;

    input {
      margin: 21px 0px;
      background-color: #f9fafd;
      outline: none;
      font-size: 1.3em;
      border: none;
      width: 88%;
    }
  }

  &_container {
    padding: 0px 29px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 68px;

    &_left {
      cursor: pointer;
      p {
        color: #0a3465;

        font-family: Inter;
        font-style: normal;
        font-weight: 800;
        font-size: 16px;
        line-height: 24px;
      }
    }

    &_right {
      display: flex;

      &_icon_block_right {
        margin-right: 3px;
      }
    }
  }
}

//icon

.icon {
  position: relative;
  display: inline-block;
  padding: 3px;
  cursor: pointer;
}

.icon > span {
  visibility: hidden;
  width: 80px;
  background-color: #2d2d2d;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 130%;
  left: 140%;
  margin-left: -60px;
}

.icon:hover > span {
  visibility: visible;
}

//Link react-router-dom
.Link {
  text-decoration: none;
  color: rgb(36, 36, 36);
}
